<footer class="dark-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p class="footer-icon">WhosFree</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="footer-menu">
          <ul>
            <li>
              <a href="index.html" class="nav-link">
                Home
              </a>
            </li>
            <li>
              <a href="about.html" class="nav-link">
                About
              </a>
            </li>
            <li><span class="text-white">Sign in</span></li>
            <li><span class="text-white">Sign up</span></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="footer-divider" />
    <p class="copyright">&copy; 2020 WhosFree</p>
  </div>
</footer>