<nav class="nav-container">
	<div class="nav-icon"><a href="index.html" class="text-white no-decoration">WhosFree</a></div>
	<div class="nav-right">
		<div class="btn-nav-sigin-container">
			<button type="button" class="btn btn-nav-signin">Sign In</button>
		</div>
		<div class="nav-burger-container">
			<div class="nav-burger"></div>
		</div>
	</div>
	<div class="nav-flyout">
		<div class="menu-container">
			<p class="menu-title"><span>Menu</span></p>
			<ul>
				<li>
					<a href="index.html" class="nav-link">
						<span class="nav-item">Home</span>
					</a>
				</li>
				<li>
					<a href="about.html" class="nav-link">
						<span class="nav-item">About</span>
					</a>
				</li>
				<li><span class="nav-item">Sign in</span></li>
				<li><span class="nav-item">Sign up</span></li>
			</ul>
		</div>
	</div>
</nav>